<a href="https://colab.research.google.com/github/DEBMALYASEN/ABC/blob/master/DBMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [12]:
class Employee:
    """A sample Employee class"""

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay

    @property
    def email(self):
        return '{}.{}@email.com'.format(self.first, self.last)

    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def __repr__(self):
        return "Employee('{}', '{}', {})".format(self.first, self.last, self.pay)

ModuleNotFoundError: ignored

In [2]:
conn=sqlite3.connect('employee.db')

In [3]:
c=conn.cursor()

In [4]:
c.execute("INSERT INTO employees VALUES('MARY','SCHAFER',80000)")

In [5]:
c.execute("INSERT INTO employees VALUES('MAR','SCHAFER',80000)")

In [6]:
c.execute("SELECT * FROM employees WHERE last='SCHAFER'")

In [7]:
print(c.fetchall())

[('MARY', 'SCHAFER', 70000), ('MARY', 'SCHAFER', 80000), ('MAR', 'SCHAFER', 80000), ('MARY', 'SCHAFER', 80000), ('MAR', 'SCHAFER', 80000)]

In [8]:
c.execute("INSERT INTO employees VALUES('MAR','SCHAFER',80000)")

In [10]:
c.execute("SELECT * FROM employees WHERE last='SCHAFER'")

In [11]:
print(c.fetchall())

[('MARY', 'SCHAFER', 70000), ('MARY', 'SCHAFER', 80000), ('MAR', 'SCHAFER', 80000), ('MARY', 'SCHAFER', 80000), ('MAR', 'SCHAFER', 80000), ('MAR', 'SCHAFER', 80000)]

In [15]:
emp_1=Employee("john","doe",8000)

In [16]:
emp_2=Employee("john","doe",8000)

In [17]:
emp_1.first

'john'

In [18]:
emp_1.last

'doe'

In [19]:
emp_1.pay

8000

In [21]:
c.execute("INSERT INTO employees VALUES('{}','{}',{})".format(emp_1.first,emp_1.last,emp_1.pay))

In [23]:
c.execute("SELECT * FROM employees ")

In [24]:
c.fetchall()

[('MARY', 'SCHAFER', 70000),
 ('MARY', 'SCHAFER', 80000),
 ('MAR', 'SCHAFER', 80000),
 ('MARY', 'SCHAFER', 80000),
 ('MAR', 'SCHAFER', 80000),
 ('MAR', 'SCHAFER', 80000),
 ('john', 'doe', 8000)]

In [25]:
c.execute("INSERT INTO employees VALUES('{}','{}',{})".format(emp_2.first,emp_2.last,emp_2.pay))

In [26]:
c.execute("SELECT * FROM employees ")

In [27]:
c.fetchall()

[('MARY', 'SCHAFER', 70000),
 ('MARY', 'SCHAFER', 80000),
 ('MAR', 'SCHAFER', 80000),
 ('MARY', 'SCHAFER', 80000),
 ('MAR', 'SCHAFER', 80000),
 ('MAR', 'SCHAFER', 80000),
 ('john', 'doe', 8000),
 ('john', 'doe', 8000)]

In [28]:
conn.commit()

In [29]:
conn.close()